<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="SpringBootNativeSettings">
    <option name="linkedExternalProjectsSettings">
      <NativeProjectSettings>
        <option name="externalProjectPath" value="$PROJECT_DIR$/userService/src/main/java/com/demo/linkedinProject/userService/UserServiceApplication.java" />
        <option name="qualifiedMainClassName" value="com.demo.linkedinProject.userService.UserServiceApplication" />
        <option name="runConfigurationName" value="UserServiceApplication" />
        <option name="runConfigurationType" value="APPLICATION" />
      </NativeProjectSettings>
    </option>
  </component>
</project>